jupyter==1.1.1
copernicusmarine==2.2.2
netCDF4==1.7.2
folium==0.20.0
seawater==3.3.4
scipy==1.16.1
shapely==2.1.1
ftputil==5.1.0
pykml==0.2.0
Unidecode==1.4.0
scikit-learn==1.7.1
matplotlib==3.10.5
altair==5.5.0
